@media screen and (max-width: 1400px) {
  .carousel-control-prev {
    left: 15%; 
  }

  .carousel-control-next {
    right: 15%; 
  }
}

@media screen and (max-width: 1200px) {  
  #expertise, .expertise-details-container {
    margin-top: 2rem;
  }

  #profile, .section-container{
      display: block;
  }
  #expertise .section-container{
      display: flex;
  }
  
  section, .section-container {
    height: fit-content;
  }    
    section {
      margin: 0 5%;
  }

  .section-pic-container {
      width: 200px;
      height: 200px;    
      margin: 0 auto 2rem;    
  }

  #projects {
    height: 700px;   
  }

  #projects .detail-container.active {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;      
    border: none;   
    gap: 10px;
   
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    height: 100%;
    width: 350px;
    gap: 10px;
  }

  #projects .article-container img {   
    width: 300px;    
    height: 300px;    
  }

  #projects .content-container p {        
    line-height: 22px;
    font-size: 13px;
  }
  

  #about .section-pic-container {       
    width: 180px;
    height: auto;
  } 

  .about-containers {
      margin-top: 0;
    }

  #about {        
      margin-bottom: 100px; 
  }  

  #expertise {        
    margin-bottom: 200px; 
  }
}

@media screen and (max-width: 800px) {  
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;    
  }    
}

@media screen and (max-width: 600px) {   
  .nav-links {
    gap: 10px;
    height: 100%;
  }

  .nav-links a {
    font-size: 17px;
  }

  #profile, #about {
    height: 600px;
  }

  .title {
    font-size: 32px;
  }

  .typing-text {
    font-size: 20px;        
    height: 30px;
  }

  .text-container {
    width: 320px; 
  }

  p {
    font-size: 14px;
  }

  .btn {
    border: 1px solid black; 
    width: 140px;
    height: 50px;
    font-size: 14px;
  }

  #about {
    margin-bottom: 200px; 
  }

  #expertise .section-container{
    display: block;
  }

  #expertise .detail-container {
    margin-top: 20px;
  }

  #expertise  {
    margin-bottom: 800px; 
  } 

  #expertise .article-container {    
    justify-content: center;
  }  

  #projects .article-container img {   
    width: 250px;    
    height: 250px;    
  }

  .content-container {
    align-items: center;
  }

  #projects .content-container p {
    font-size: 12px;
    width: 300px;     
  }  

  .carousel-control-prev,
  .carousel-control-next {
    top: 60%; 
    font-size: 30px;       
  }

  .carousel-control-prev {
    left: 1%; 
  }

  .carousel-control-next {
    right: 1%; 
  }

  .contact-container {   
    height: 600px;
  }

  .contact-info-upper-container {    
    flex-direction: column;
    padding: 10px;
    justify-content: center;
  }
}