@media screen and (max-width: 1200px) {  
  #expertise, .expertise-details-container {
    margin-top: 2rem;
  }

  #profile, .section-container{
      display: block;
  }
  #expertise .section-container{
      display: flex;
  }
  .arrow {
      display: none;
  }
  section, .section-container {
    height: fit-content;
  }    
    section {
      margin: 0 5%;
  }

  .section-pic-container {
      width: 200px;
      height: 200px;    
      margin: 0 auto 2rem;    
  }

  #about .section-pic-container {       
    width: 180px;
    height: auto;
  } 
  .about-containers {
      margin-top: 0;
    }

  #about, #expertise {        
      margin-bottom: 100px; 
  }  
}

@media screen and (max-width: 800px) {  
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;    
  }  
}

@media screen and (max-width: 600px) {   
  .nav-links {
    gap: 10px;
    height: 100%;
  }

  .nav-links a {
    font-size: 17px;
  }

  #profile, #about {
    height: 600px;
  }

  .title {
    font-size: 32px;
  }

  .typing-text {
    font-size: 20px;        
    height: 30px;
  }

  .text-container {
    width: 320px; 
  }

  p {
    font-size: 14px;
  }

  .btn {
    border: 1px solid black; 
    width: 140px;
    height: 50px;
    font-size: 14px;
  }

  #about {
    margin-bottom: 200px; 
  }

  #expertise .section-container{
    display: block;
  }

  #expertise .detail-container {
    margin-top: 20px;
  }

  #expertise  {
    margin-bottom: 800px; 
  } 

  #expertise .article-container {    
    justify-content: center;
  }


  #projects  {
    margin-bottom: 1000px; 
  } 

  .contact-info-upper-container {
    flex-direction: column;
    padding: 10px;
    justify-content: center;
  }
}