/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;   
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

a,
.btn {
  transition: all 300ms ease;     
}

/* DESKTOP NAV */

#desktop-nav, #hamburger-nav {
    position: fixed;
    z-index: 1000;   
    width: 100%;      
    background-color: white;
}

nav, .nav-links, .logo {
    display: flex;    
}

nav {
    justify-content: space-around; 
    height: 17vh;  
    align-items: center;   
}   

.logo{                 
    font-size: 32px;
    cursor: pointer;  
    align-items: center;
}

.logo a {    
    transition: opacity 0.3s ease;
}

.logo a:hover {    
    text-decoration: none;
    transform: scale(1.1);
}

.nav-links {    
    list-style: none;  
    align-items: center;
    justify-content: center;
    gap: 28px;
}

a {
    text-decoration: none; 
    text-decoration-color: white;  
    color: black;
}

.nav-links a {        
    font-size: 24px;    
    transition: all .3s ease;
}

a:hover {
    color: rgb(137, 137, 137);
    text-decoration: underline;
    text-underline-offset: 10px;    
    text-decoration-color: rgb(181, 181, 181);
}  

.theme-icon {
    font-size: 30px;
    cursor: pointer;
}

.theme-icon:hover{
    opacity: 0.7;
}

/* HAMBURGER MENU */

#hamburger-nav {
   display: none;
}

.hamburger-menu {
    display: inline-block;
    position: relative;
}

.hamburger-menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-menu-icon span {
    height: 2px;
    width: 100%;
    background-color: black;
    transition: all 0.3 ease-in-out;    
}

.hamburger-menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.hamburger-menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.hamburger-menu-links a:hover {
    color: rgb(137, 137, 137);
    text-decoration: underline;
    text-underline-offset: 10px;    
    text-decoration-color: rgb(181, 181, 181);
}  

.hamburger-menu-links li {
    list-style: none;
}

.hamburger-menu-links.open {
    max-height: 300px;
}
  
.hamburger-menu-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 1px);
}

.hamburger-menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -1px);
}  

/* PROFILE */

#profile, .section-text, .section-pic-container, .socials-container {
    display: flex;    
}

#profile {
    justify-content: center;
    gap: 100px;   
    height: 600px;   
    align-items: center;   
    padding-top: 17vh;   
}

.section-pic-container {    
    align-items: center;
    width: 400px;
    /* height: 400px;   */
    overflow: hidden;   
}

#profile .section-pic-container img {    
    width: 100%;
    height: 100%;
    object-fit: cover;  
    border-radius: 50%;      
}

.section-text {
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    gap: 20px;    
}

.section_text_p1 {    
    text-align: center;
}

.title {
    font-size: 50px;
    text-align: center;
}

.typing-text {
    font-size: 30px;
    text-align: center;
    white-space: nowrap; 
    width: fit-content;
    height: 41px;
    border-right: 2px solid;
    overflow: hidden;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.socials-container {
    width: 100%;    
    justify-content: center;
    gap: 20px;
    
}

/* ICONS */

.icon {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

/* BUTTONS */

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    border-radius: 30px;
    border: 2px solid black; 
    font-weight: bold;
    transition: all 300ms ease;
    width: 150px;
    height: 60px;
}

.btn-color-1 {
    background-color: black;
    color: white;      
         
}

.btn-color-2 {
    background-color: white;      
      
}

.btn-color-1:hover,
.btn-color-2:hover {
    opacity: .6;
    cursor: pointer;
}


/* ABOUT */

.section-container, .about-container, .detail-container, .education-container {
    display: flex;
}

#about {
    height: 700px;
    position: relative;
    padding-top: 80px;  
}

#about .section-pic-container {    
    box-shadow: 1px 1px 6px 4px rgba(0, 0, 0, .3);    
    border-radius: 20px;  
    width: 350px;
}    

#about .section-pic-container img {   
    width: 100%;
    height:  auto;     
}


.section-container {   
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
}

.about-container {    
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 30px;
}

.detail-container {
    flex-direction: column;
    border-radius: 30px;
    border: 2px solid rgb(169, 169, 169);
    padding: 20px 20px;    
}

.education-container {    
    gap: 10px;
}

.text-container {
    width: 100%;
    text-align: justify;
    line-height: 26px;
    white-space: normal;   
    width: 450px; 
} 

.arrow {
    position: absolute;
    right: 70px;
    bottom: 100px;
    
}

/* EXPERTISE */

#expertise {
    position: relative;
    height: 670px;
    padding-top: 90px;
}

#expertise .detail-container {
    gap: 20px;     
}

.expertise-sub-title {
    text-align: center;
    font-size: 28px;
    color: grey;    
}

.article-container, .columnm article, article{
    display: flex;
}


.article-container {      
    height: 100%;
    flex-wrap: wrap;
}

.column {   
    flex-direction: column;      
}

article {       
    align-items: center;
    gap: 10px;
    padding: 30px; 
    
}

/* PROJECTS */

#projects {
    height: 780px;
    position: relative;
    padding-top: 90px;
    overflow: hidden;
}

.carousel-container {   
    width: 100%; 
    height: 100%; 
}

.details-container {     
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
}

#projects .detail-container {   
    display: none;     
}

#projects .detail-container.active {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;    
    border: none;
    width: 700px;
    height: 400px;    
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    height: 100%;
    width: 320px;
    gap: 30px;
}

#projects .article-container {   
    display: flex;
    justify-content: center;   
}

#projects .article-container img {   
    width: 400px;    
    height: 400px;
    object-fit: cover;  
    object-position: center;  
    border-radius: 20px;
}

#projects .content-container p {  
    display: flex;
    align-items: center;  
    width: 100%;      
    text-align: justify;    
    line-height: 24px;
    font-size: 15px;
}

.button-containter {
    display: flex;
    justify-content: center;
    gap: 30px
}

.project-btn {
    width: 120px;
    height: 40px;
    border: 1px solid grey;    
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8); 
    border: none; 
    padding: 10px;
    cursor: pointer;
    z-index: 1;     
    font-size: 50px;
    background-color: transparent; 
    padding: 10px;
}

.carousel-control-prev {
    left: 20%;     
}

.carousel-control-next {
    right: 20%; 
}


.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 0.7;
}

.dot-navigation {
    text-align: center;
    margin-top: 10px; /* Space between carousel and dots */
}

.dot {
    display: inline-block;
    width: 12px; /* Width of the dot */
    height: 12px; /* Height of the dot */
    margin: 0 5px; /* Space between dots */
    border-radius: 50%; /* Make it circular */
    background-color: lightgray; /* Default color for inactive dots */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s;
}

.dot.active {
    background-color: gray; /* Active dot color */
}


/* CONTACT */

.contact-container,.contact-info-upper-container, .contact-info-container {
    display: flex;
}

#contact {
    position: relative;     
}

.contact-container {    
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    height: 720px;
    gap: 20px;
}

.contact-info-upper-container {        
    border: 2px solid grey;
    border-radius: 30px;
    gap: 30px;
    padding: 20px 30px;    
    align-items: center;
}

.contact-info-container {    
    gap: 8px;    
    align-items: center;
}

.email-icon {
    height: 40px;
    width: 40px;
}

.contact-info-container a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* FOOTER */

footer {
    position: relative;
}

footer p {
    position: absolute;    
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* DARK MODE */



.dark-mode {
    background-color: black;    
}

.dark-mode #desktop-nav, 
.dark-mode #hamburger-nav,
.dark-mode .hamburger-menu-links.open
{
    background-color: #444444;       
} 

.dark-mode .hamburger-menu-icon span {  
    background-color: white;      
}

.dark-mode a, 
.dark-mode p,
.dark-mode h1, 
.dark-mode h2,
.dark-mode h3, 
.dark-mode h4, 
.dark-mode .typing-text {
    color: white;
}

.dark-mode .btn-color-1{
    background-color: white;
    color: black;     
}

.dark-mode .socials-container, 
.dark-mode .education-icon,
.dark-mode .next-js-icon,
.dark-mode .js-icon,
.dark-mode .contact-info-upper-container .icon,
.dark-mode .theme-icon
{
    filter: invert(1); 
}


.dark-mode .carousel-control-prev,
.dark-mode .carousel-control-next {
    color: white;    
}

/* Default to moon icon */
.theme-icon::before {
    content: '\f186';    
    font-weight: 900; 
}

/* When dark mode is active, change to sun icon */
.dark-mode .theme-icon::before {
    content: '\f185'; 
}
